<header>
        <h2>Classifying Terminal Weighted Projective Spaces</h2>
</header>
<p>
	Weighted projective spaces can be though of as geometric objects
	describing spaces that have had weights placed on them to cause them
	curve in on themselves. Terminal spaces are those that have certain
	conditions placed on any kinks on the space to ensure they are
	not too irregular. This is described further
	<a href=http://magma.maths.usyd.edu.au/~kasprzyk/research/pdf/Terminal_Wps.pdf target="_blank">here.</a>
</p>
<p>
	A combinatorial game can be played to discover the sizes of the weights
	that can be used to ensure that the kinks are all 'terminal'. This game
	involves taking initial weights and manipulating them in any way we
	can to keep the kinks as we want, then iterating all possibilities.
</p>
<p>
	To do this a work queue style script was constructed in C to allow maximal
	use of resources to tackle generate all possibilities, and check their validity.
</p>
<a href="https://github.com/sjg10/workq-terminal-spaces" target="_blank"><p style="text-align:center">Terminal Spaces Work Queue (GPL)</p></a>
