<header>
	<h2>Context</h2>
</header>
<p>
	Context is a Google Glass based reading app and a 3D printed physical aid designed to ease the reading experience for dyslexia sufferers.

Google Glass is a new technology, with a lot of potential. However, many applications currently being developed do not specifically make use of the advantages that only a partially augmented reality interface can provide. Context directly uses the benefits of an unobtrusive screen, providing phonetic translation and contextualisation of difficult words. It also incorporates preexisting physical technologies, leading to an easy transition for the millions of dyslexia sufferers worldwide seeking a helping hand.


</p>
<a href="http://context.gonshaw.com" target="_blank"><p style="text-align:center">Context Main Page</p></a>
