{% load static %}
{{ content|safe }}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Sam Gonshaw | Mathematics in Action</title>
        <link rel="shortcut icon" type="image/png" href={% static 'favicon.ico' %}/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="The homepage of Sam Gonshaw, an implementer of mathematics as the language of abstraction." />
		<meta name="keywords" content="maths, mathematics, software, fano, sam gonshaw" />
		<link rel="shortcut icon"  href="favicon.ico">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet" />
        <script src={% static 'js/jquery.min.js' %}></script>
        <script src={% static 'js/skel.min.js' %}></script>
        <script src={% static 'js/detectmobilebrowsers.js' %}></script>
        <script src={% static 'js/init.js' %}></script>
		
        <link rel="stylesheet" href={% static 'css/jquery.fancybox.css' '?v=2.1.5'%} type="text/css" media="screen" />
        <script type="text/javascript" src={% static 'js/fancybox/jquery.fancybox.pack.js' '?v=2.1.5'%}></script>

		<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-45882395-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
		</script>
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<noscript>
            <link rel="stylesheet" href={% static 'css/skel-noscript.css' %} />
            <link rel="stylesheet" href={% static 'css/style.css' %} />
            <link rel="stylesheet" href={% static 'css/style-desktop.css' %} />
            <link rel="stylesheet" href={% static 'css/noscript.css' %} />
		</noscript>
        <!--[if lte IE 8]><script src={% static 'js/html5shiv.js' %}></script><link rel="stylesheet" href={% static 'css/ie8.css' %} /><![endif]-->
		
	</head>
	<body class="homepage">

		<!-- Wrapper-->
			<div id="wrapper">
				
				<!-- Nav -->
					<nav id="nav">
						<a href="#me" class="fa fa-home active"><span>Home</span></a>
						<a href="#about" class="fa fa-info"><span>About</span></a>
						<a href="#mathematics" class="fa fa-superscript"><span>Mathematics</span></a>
						<a href="#software" class="fa fa-laptop"><span>Software</span></a>
						<a href="#linksPage" class="fa fa-globe"><span>Links</span></a>
						
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Me -->
							<article id="me" class="panel">
								<header>
									<h1>Sam Gonshaw</h1>
									<span class="byline">Mathematics In Action</span>
								</header>
								<a href="#about" class="jumplink pic">
									<span class="jumplink arrow fa fa-chevron-right"><span>See my work</span></span>
                                    <img src={% static 'images/escher_style_birds.jpg' %} alt="" />
								</a>
							</article>
							
						<!-- About -->
							<article id="about" class="panel">
								<header>
									<h2>About</h2>
								</header>
								<p>
									Mathematics is about approaching any problem, be it everyday, technical or even
									personal by firstly identifying its key features, and then constructing a new
									problem characterised solely by these features. In doing this we can both learn
									why the original problem exists	and hence solve it, but also generate new tools
 									that can be used as motivation for the creation of wholly new innovative ideas.
								</p>
								<p>	
									My name is Sam Gonshaw, and I'm a Master's of Mathematics and embedded software engineer.
									I believe in using the ideas of abstraction to create and develop new and innovative solutions
									to the most intractible of problems.
								</p>
								<div id="desktopCV ">
                                    <div class="fancybox" id="cv" rel="group" data-fancybox-type="iframe" href={% static 'cv.pdf' %}><div class="cvButton">Curriculum Vitae</div></div>
								</div>
								<div id="mobileCV">
                                    <a class="cvButton" href={% static 'cv.pdf'}>Curriculum Vitae</a><br><br><br>
								</div>
							</article>

						
							
						<!-- Mathematics -->
							<article id="mathematics" class="panel">
								<header>
									<h2>Mathematics</h2>
								</header>
								<p>
									Since my mathematical journey began I have come into contact with varying
									aspects of the subject and contributed in a variety of ways. Click on the
									projects below to find out more.
								</p>
								<section class="is-gallery" id="math-gallery">
									<div class="row half">
                                        {% if math_posts %}
                                            {% for post in math_posts %}
										        <div class="4u">
                                                    <a class="projectC" id="m{{ post.id }}C" rel="math" href="#m{{post.id}}"><img src={{post.post_image.url}} alt=""></a>
			        							</div>
                                            {% endfor %}
                                        {% else %}
                                            <p>No math posts are available.</p>
                                        {% endif %}
									</div>
								</section>
							</article>

						
						<!-- Software --> 
							<article id="software" class="panel">
								<header>
									<h2>Software</h2>
								</header>
								<p>
									I have experience in C, Java, Python amongst an acquintance with other languages
									and computing paradigms for a variety of projects. Please click on the projects below to find out more.
								</p>
								<section class="is-gallery">
									<div class="row half">
                                        {% if software_posts %}
                                            {% for post in software_posts %}
										        <div class="4u">
                                                    <a class="projectC" id="s{{ post.id }}C" rel="software" href="#s{{post.id}}"><img src={{post.post_image.url}} alt=""></a>
			        							</div>
                                            {% endfor %}
                                        {% else %}
                                            <p>No software content available.</p>
                                        {% endif %}
									</div>
								</section>
							</article>

						<!-- Links -->
							<article id="linksPage" class="panel">
								<header>
									<h2>Links</h2>
								</header>
								<p>
								<ul class=linksInLine>

								{% if links %}
								    {% for link in links %}
									<li><a href="{{link.url}}" target='_blank'>{{link.title}}:</a>
									{{link.description}}</li><br>
								    {% endfor %}
								{% endif %}
								</ul>
							</article>
					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="links">
							<li>Sam Gonshaw &copy; 2017</li><br>
							<a href="mailto:sam@gonshaw.com" class="fa fa-envelope"><span></span></a>
							<li><a href="http://uk.linkedin.com/in/samgonshaw/" class="fa fa-linkedin"></a></li>
                            <li><a href={% static 'atom/index.html' %} class="fa fa-rss"></a></li>
							<li><a href="http://github.com/sjg10" class="fa fa-github"></a></li>
						</ul>
					</div>
				</div>
			
{% if math_posts %}
    {% for post in math_posts %}
        <div style="display:none"><div id="m{{post.id}}"><header><h2>{{post.post_title}}</h2></header>{% autoescape off %}{{post.post_text}}{% endautoescape %}</div></div>
{% endfor %}
{% endif %}
{% if software_posts %}
    {% for post in software_posts %}
        <div style="display:none"><div id="s{{post.id}}"><header><h2>{{post.post_title}}</h2></header>{% autoescape off %}{{post.post_text}}{% endautoescape %}</div></div>
{% endfor %}
{% endif %}
			
	<script type="text/javascript">
		$(document).ready(function() {
			$("#cv").fancybox({
				autoSize    : true,
				iframe : {
					preload: false
				}
			});

			$(".projectC").fancybox({	
				'width' : '50%',
				'height' : '90%',
				'autoSize'         : false,
				'transitionIn'      : 'elastic',
				'transitionOut'     : 'elastic',
				'loop' : false,
				'arrows' : true,
			});
		 });
	</script> 
	</body>
</html>
